#### Q1. <span style="color:magenta">What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?</span>

**MongoDB** is a popular open-source, *document-oriented* **NoSQL** (non-relational) database. It provides a flexible and scalable way to store and manage data.

**Non-relational databases**, also known as NoSQL databases, are designed to handle unstructured and semi-structured data. Unlike traditional SQL databases that use rigid, tabular structures, non-relational databases allow for more flexible and dynamic data models.

In non-relational databases like MongoDB, data is typically stored in documents, which are self-contained units of data that can be grouped together. These documents are similar to JSON objects, allowing for nested data structures. Non-relational databases provide high scalability and performance, as they can easily distribute data across multiple servers.

*MongoDB is often preferred in the following scenarios*:

1. **Agile and evolving requirements**: If your project's requirements are likely to change frequently, MongoDB's flexible schema allows for easy modification of data models without disrupting the existing data.

2. **Large-scale data storage and high throughput**: MongoDB is designed to handle massive amounts of data and can horizontally scale across multiple servers, making it suitable for applications that require high scalability and performance.

3. **Rapid prototyping and development**: MongoDB's document-based structure aligns well with object-oriented programming languages, making it convenient for developers to work with and iterate quickly during the development phase.

4. **Real-time analytics and event-driven applications**: MongoDB's support for indexing and querying nested data structures makes it suitable for applications that deal with complex, dynamic data. It can efficiently handle real-time analytics and event-driven use cases.

5. **Unstructured or semi-structured data**: If your data doesn't fit well into a fixed schema or involves hierarchical or nested data structures, MongoDB's flexible document model can accommodate such unstructured or semi-structured data more easily than SQL databases.

It's important to note that while MongoDB offers advantages in certain scenarios, SQL databases (like MySQL or PostgreSQL) excel in scenarios where strict data consistency, complex joins, and ACID transactions are critical requirements. The choice between MongoDB and SQL databases depends on the specific needs and characteristics of your application.

#### Q2. <span style="color:magenta">State and Explain the features of MongoDB.</span>

MongoDB offers several key features that make it a popular choice for developers and organizations. Here are some of its prominent features:

1. **Document-Oriented**: MongoDB is a document-oriented database, where data is stored in flexible, self-contained documents (similar to JSON objects). This allows for easy and efficient storage and retrieval of complex data structures.
2. **Scalability and High Performance**: MongoDB is designed to handle large-scale data and high throughput. It can horizontally scale across multiple servers, distributing data and load to ensure optimal performance as the application grows.
3. **Dynamic Schema**: MongoDB has a flexible schema, meaning that each document can have a different structure. It allows fields to be added or modified without the need to update the entire schema. This flexibility is beneficial for agile development and evolving data requirements.
4. **Rich Query Language**: MongoDB provides a powerful and expressive query language that supports a wide range of querying capabilities. It includes support for complex queries, indexing, sorting, and aggregation operations, enabling efficient data retrieval and analysis.
5. **Secondary Indexes**: MongoDB supports the creation of secondary indexes on fields within documents. This allows for faster querying and improved performance for frequently accessed data.
6. **Replication and High Availability**: MongoDB offers built-in replication, allowing data to be automatically synchronized across multiple servers. This provides fault tolerance and high availability, ensuring that the system remains operational even in the event of server failures.
7. **Sharding**: MongoDB supports horizontal scaling through sharding, which involves distributing data across multiple servers or clusters. Sharding enables efficient distribution of data and load balancing, accommodating the needs of large-scale applications.
8. **Geospatial and Full-Text Search**: MongoDB includes features for geospatial indexing and querying, making it suitable for location-based applications. Additionally, it provides full-text search capabilities o perform text-based searches efficiently.
9. **Aggregation Framework**: MongoDB's Aggregation Framework allows for advanced data processing and analysis. It supports aggregation pipelines, which enable the execution of complex transformations and computations on data, including grouping, filtering, sorting, and more.
10. **Native Integration and Ecosystem**: MongoDB has extensive language support, offering native drivers and libraries for various programming languages. It integrates well with popular frameworks, tools, and services, making it easier to develop, deploy, and manage applications.

These features collectively contribute to MongoDB's flexibility, scalability, performance, and ease of development, making it a suitable choice for a wide range of applications and use cases.

#### Q3. <span style="color:magenta">Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.</span>

In [7]:
# pip install pymongo==3.6

# pip install pymongo[srv]

# pip install --upgrade pymongo

In [6]:
# Importing pymongo library
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://kkshetty:JWL3e4UC6GK4Swd@pwskills.sfce3qx.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [8]:
# Creating db
db = client["test_db2"]

# Creating a collection under above DB
coll = db["sample_collection2"]

#### Q4. <span style="color:magenta">Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.</span>

In [12]:
record = {
        "name": "Rahul",
        "age": 43,
        "City": "Kolkata",
        "Salary": 20052
    }

# Inserting one record
coll.insert_one(record)

record = {
        "name": "Gaurav",
        "age": 43,
        "City": "Mumbai",
        "Salary": 124935
    }

# Again inserting songle record
coll.insert_one(record)

In [13]:
# Printing inserted records one at a time

readd_record = coll.find_one()
print(readd_record)

{'_id': ObjectId('649cb4c2f3402573162a21df'), 'name': 'Rahul', 'age': 43, 'City': 'Kolkata', 'Salary': 20052}

In [14]:
# Inserting multiple records at once

records = [
    {
        "name": "Gaurav",
        "age": 52,
        "City": "Chennai",
        "Salary": 19946
    },
    {
        "name": "Akash",
        "age": 21,
        "City": "Kolkata",
        "Salary": 99133
    },
    {
        "name": "Isha",
        "age": 58,
        "City": "Kolkata",
        "Salary": 30388
    },
    {
        "name": "Riya",
        "age": 57,
        "City": "Pune",
        "Salary": 145559
    },
    {
        "name": "Aisha",
        "age": 38,
        "City": "Hyderabad",
        "Salary": 15613
    },
    {
        "name": "Krishna",
        "age": 44,
        "City": "Delhi",
        "Salary": 92859
    },
    {
        "name": "Ananya",
        "age": 34,
        "City": "Hyderabad",
        "Salary": 140322
    },
    {
        "name": "Arjun",
        "age": 25,
        "City": "Ahmedabad",
        "Salary": 79694
    },
    {
        "name": "Dev",
        "age": 49,
        "City": "Pune",
        "Salary": 20428
    },
    {
        "name": "Avni",
        "age": 21,
        "City": "Kolkata",
        "Salary": 61297
    },
    {
        "name": "Esha",
        "age": 40,
        "City": "Pune",
        "Salary": 48927
    },
    {
        "name": "Rahul",
        "age": 24,
        "City": "Hyderabad",
        "Salary": 147052
    },
    {
        "name": "Tanvi",
        "age": 58,
        "City": "Bangalore",
        "Salary": 23275
    },
    {
        "name": "Rahul",
        "age": 52,
        "City": "Kolkata",
        "Salary": 125194
    },
    {
        "name": "Aisha",
        "age": 24,
        "City": "Delhi",
        "Salary": 46442
    },
    {
        "name": "Sanjay",
        "age": 50,
        "City": "Chennai",
        "Salary": 125533
    },
    {
        "name": "Rahul",
        "age": 39,
        "City": "Jaipur",
        "Salary": 20319
    },
    {
        "name": "Ananya",
        "age": 26,
        "City": "Chennai",
        "Salary": 124032
    },
    {
        "name": "Aarav",
        "age": 39,
        "City": "Bangalore",
        "Salary": 60202
    },
    {
        "name": "Rohan",
        "age": 39,
        "City": "Pune",
        "Salary": 110375
    },
    {
        "name": "Ananya",
        "age": 37,
        "City": "Ahmedabad",
        "Salary": 100401
    },
    {
        "name": "Gaurav",
        "age": 42,
        "City": "Chennai",
        "Salary": 19343
    },
    {
        "name": "Rohan",
        "age": 59,
        "City": "Chennai",
        "Salary": 73118
    },
    {
        "name": "Tanvi",
        "age": 49,
        "City": "Mumbai",
        "Salary": 23499
    },
    {
        "name": "Ananya",
        "age": 53,
        "City": "Bangalore",
        "Salary": 121985
    },
    {
        "name": "Tanvi",
        "age": 47,
        "City": "Ahmedabad",
        "Salary": 71048
    },
    {
        "name": "Sanjay",
        "age": 30,
        "City": "Jaipur",
        "Salary": 107965
    },
    {
        "name": "Esha",
        "age": 49,
        "City": "Hyderabad",
        "Salary": 70221
    },
    {
        "name": "Sahana",
        "age": 35,
        "City": "Delhi",
        "Salary": 70016
    },
    {
        "name": "Tanvi",
        "age": 37,
        "City": "Ahmedabad",
        "Salary": 63154
    },
    {
        "name": "Krishna",
        "age": 33,
        "City": "Hyderabad",
        "Salary": 66437
    },
    {
        "name": "Maya",
        "age": 54,
        "City": "Kolkata",
        "Salary": 104256
    },
    {
        "name": "Riya",
        "age": 29,
        "City": "Delhi",
        "Salary": 131728
    },
    {
        "name": "Neha",
        "age": 55,
        "City": "Ahmedabad",
        "Salary": 142652
    },
    {
        "name": "Aarav",
        "age": 27,
        "City": "Mumbai",
        "Salary": 34478
    },
    {
        "name": "Gaurav",
        "age": 60,
        "City": "Jaipur",
        "Salary": 77096
    },
    {
        "name": "Maya",
        "age": 25,
        "City": "Ahmedabad",
        "Salary": 144139
    },
    {
        "name": "Tanvi",
        "age": 41,
        "City": "Bangalore",
        "Salary": 106393
    },
    {
        "name": "Rohan",
        "age": 58,
        "City": "Hyderabad",
        "Salary": 132285
    },
    {
        "name": "Tanvi",
        "age": 43,
        "City": "Delhi",
        "Salary": 25732
    },
    {
        "name": "Isha",
        "age": 54,
        "City": "Ahmedabad",
        "Salary": 104616
    },
    {
        "name": "Karthik",
        "age": 33,
        "City": "Ahmedabad",
        "Salary": 135337
    },
    {
        "name": "Arjun",
        "age": 34,
        "City": "Chennai",
        "Salary": 147651
    },
    {
        "name": "Sanjay",
        "age": 53,
        "City": "Pune",
        "Salary": 34177
    },
    {
        "name": "Tanvi",
        "age": 30,
        "City": "Jaipur",
        "Salary": 91568
    },
    {
        "name": "Avni",
        "age": 36,
        "City": "Pune",
        "Salary": 130127
    },
    {
        "name": "Akash",
        "age": 29,
        "City": "Kolkata",
        "Salary": 119436
    },
    {
        "name": "Maya",
        "age": 49,
        "City": "Kolkata",
        "Salary": 142006
    }
]

# Inserting all records at once
coll.insert_many(records)

In [16]:
# Reading all the records at once
read_documents = coll.find()
for document in read_documents:
    print(document)

{'_id': ObjectId('649cb4c2f3402573162a21df'), 'name': 'Rahul', 'age': 43, 'City': 'Kolkata', 'Salary': 20052}
{'_id': ObjectId('649cb4c2f3402573162a21e0'), 'name': 'Gaurav', 'age': 43, 'City': 'Mumbai', 'Salary': 124935}
{'_id': ObjectId('649cb596f3402573162a21e1'), 'name': 'Gaurav', 'age': 52, 'City': 'Chennai', 'Salary': 19946}
{'_id': ObjectId('649cb596f3402573162a21e2'), 'name': 'Akash', 'age': 21, 'City': 'Kolkata', 'Salary': 99133}
{'_id': ObjectId('649cb596f3402573162a21e3'), 'name': 'Isha', 'age': 58, 'City': 'Kolkata', 'Salary': 30388}
{'_id': ObjectId('649cb596f3402573162a21e4'), 'name': 'Riya', 'age': 57, 'City': 'Pune', 'Salary': 145559}
{'_id': ObjectId('649cb596f3402573162a21e5'), 'name': 'Aisha', 'age': 38, 'City': 'Hyderabad', 'Salary': 15613}
{'_id': ObjectId('649cb596f3402573162a21e6'), 'name': 'Krishna', 'age': 44, 'City': 'Delhi', 'Salary': 92859}
{'_id': ObjectId('649cb596f3402573162a21e7'), 'name': 'Ananya', 'age': 34, 'City': 'Hyderabad', 'Salary': 140322}
{'_id': ObjectId('649cb596f3402573162a21e8'), 'name': 'Arjun', 'age': 25, 'City': 'Ahmedabad', 'Salary': 79694}
{'_id': ObjectId('649cb596f3402573162a21e9'), 'name': 'Dev', 'age': 49, 'City': 'Pune', 'Salary': 20428}
{'_id': ObjectId('649cb596f3402573162a21ea'), 'name': 'Avni', 'age': 21, 'City': 'Kolkata', 'Salary': 61297}
{'_id': ObjectId('649cb596f3402573162a21eb'), 'name': 'Esha', 'age': 40, 'City': 'Pune', 'Salary': 48927}
{'_id': ObjectId('649cb596f3402573162a21ec'), 'name': 'Rahul', 'age': 24, 'City': 'Hyderabad', 'Salary': 147052}
{'_id': ObjectId('649cb596f3402573162a21ed'), 'name': 'Tanvi', 'age': 58, 'City': 'Bangalore', 'Salary': 23275}
{'_id': ObjectId('649cb596f3402573162a21ee'), 'name': 'Rahul', 'age': 52, 'City': 'Kolkata', 'Salary': 125194}
{'_id': ObjectId('649cb596f3402573162a21ef'), 'name': 'Aisha', 'age': 24, 'City': 'Delhi', 'Salary': 46442}
{'_id': ObjectId('649cb596f3402573162a21f0'), 'name': 'Sanjay', 'age': 50, 'City': 'Chennai', 'Salary': 125533}
{'_id': ObjectId('649cb596f3402573162a21f1'), 'name': 'Rahul', 'age': 39, 'City': 'Jaipur', 'Salary': 20319}
{'_id': ObjectId('649cb596f3402573162a21f2'), 'name': 'Ananya', 'age': 26, 'City': 'Chennai', 'Salary': 124032}
{'_id': ObjectId('649cb596f3402573162a21f3'), 'name': 'Aarav', 'age': 39, 'City': 'Bangalore', 'Salary': 60202}
{'_id': ObjectId('649cb596f3402573162a21f4'), 'name': 'Rohan', 'age': 39, 'City': 'Pune', 'Salary': 110375}
{'_id': ObjectId('649cb596f3402573162a21f5'), 'name': 'Ananya', 'age': 37, 'City': 'Ahmedabad', 'Salary': 100401}
{'_id': ObjectId('649cb596f3402573162a21f6'), 'name': 'Gaurav', 'age': 42, 'City': 'Chennai', 'Salary': 19343}
{'_id': ObjectId('649cb596f3402573162a21f7'), 'name': 'Rohan', 'age': 59, 'City': 'Chennai', 'Salary': 73118}
{'_id': ObjectId('649cb596f3402573162a21f8'), 'name': 'Tanvi', 'age': 49, 'City': 'Mumbai', 'Salary': 23499}
{'_id': ObjectId('649cb596f3402573162a21f9'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649cb596f3402573162a21fa'), 'name': 'Tanvi', 'age': 47, 'City': 'Ahmedabad', 'Salary': 71048}
{'_id': ObjectId('649cb596f3402573162a21fb'), 'name': 'Sanjay', 'age': 30, 'City': 'Jaipur', 'Salary': 107965}
{'_id': ObjectId('649cb596f3402573162a21fc'), 'name': 'Esha', 'age': 49, 'City': 'Hyderabad', 'Salary': 70221}
{'_id': ObjectId('649cb596f3402573162a21fd'), 'name': 'Sahana', 'age': 35, 'City': 'Delhi', 'Salary': 70016}
{'_id': ObjectId('649cb596f3402573162a21fe'), 'name': 'Tanvi', 'age': 37, 'City': 'Ahmedabad', 'Salary': 63154}
{'_id': ObjectId('649cb596f3402573162a21ff'), 'name': 'Krishna', 'age': 33, 'City': 'Hyderabad', 'Salary': 66437}
{'_id': ObjectId('649cb596f3402573162a2200'), 'name': 'Maya', 'age': 54, 'City': 'Kolkata', 'Salary': 104256}
{'_id': ObjectId('649cb596f3402573162a2201'), 'name': 'Riya', 'age': 29, 'City': 'Delhi', 'Salary': 131728}
{'_id': ObjectId('649cb596f3402573162a2202'), 'name': 'Neha', 'age': 55, 'City': 'Ahmedabad', 'Salary': 142652}
{'_id': ObjectId('649cb596f3402573162a2203'), 'name': 'Aarav', 'age': 27, 'City': 'Mumbai', 'Salary': 34478}
{'_id': ObjectId('649cb596f3402573162a2204'), 'name': 'Gaurav', 'age': 60, 'City': 'Jaipur', 'Salary': 77096}
{'_id': ObjectId('649cb596f3402573162a2205'), 'name': 'Maya', 'age': 25, 'City': 'Ahmedabad', 'Salary': 144139}
{'_id': ObjectId('649cb596f3402573162a2206'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}
{'_id': ObjectId('649cb596f3402573162a2207'), 'name': 'Rohan', 'age': 58, 'City': 'Hyderabad', 'Salary': 132285}
{'_id': ObjectId('649cb596f3402573162a2208'), 'name': 'Tanvi', 'age': 43, 'City': 'Delhi', 'Salary': 25732}
{'_id': ObjectId('649cb596f3402573162a2209'), 'name': 'Isha', 'age': 54, 'City': 'Ahmedabad', 'Salary': 104616}
{'_id': ObjectId('649cb596f3402573162a220a'), 'name': 'Karthik', 'age': 33, 'City': 'Ahmedabad', 'Salary': 135337}
{'_id': ObjectId('649cb596f3402573162a220b'), 'name': 'Arjun', 'age': 34, 'City': 'Chennai', 'Salary': 147651}
{'_id': ObjectId('649cb596f3402573162a220c'), 'name': 'Sanjay', 'age': 53, 'City': 'Pune', 'Salary': 34177}
{'_id': ObjectId('649cb596f3402573162a220d'), 'name': 'Tanvi', 'age': 30, 'City': 'Jaipur', 'Salary': 91568}
{'_id': ObjectId('649cb596f3402573162a220e'), 'name': 'Avni', 'age': 36, 'City': 'Pune', 'Salary': 130127}
{'_id': ObjectId('649cb596f3402573162a220f'), 'name': 'Akash', 'age': 29, 'City': 'Kolkata', 'Salary': 119436}
{'_id': ObjectId('649cb596f3402573162a2210'), 'name': 'Maya', 'age': 49, 'City': 'Kolkata', 'Salary': 142006}

#### Q4. <span style="color:magenta">Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.</span>

Using the `find()` method, we can specify the query like:

```python
collection_name.find({'key' : 'value'})
```

If we need to specify multiple conditions, we can seperate each query by ','.

```python
collection_name.find({'key1' : 'value1', 'key2' : 'value2'})
```

Below example will demonstrate this

In [17]:
# Employess with salary > RS 1,00,000

high_paid_employees = coll.find({'Salary' : {'$gte' : 100000}})
for emp in high_paid_employees:
    print(emp)

{'_id': ObjectId('649cb4c2f3402573162a21e0'), 'name': 'Gaurav', 'age': 43, 'City': 'Mumbai', 'Salary': 124935}
{'_id': ObjectId('649cb596f3402573162a21e4'), 'name': 'Riya', 'age': 57, 'City': 'Pune', 'Salary': 145559}
{'_id': ObjectId('649cb596f3402573162a21e7'), 'name': 'Ananya', 'age': 34, 'City': 'Hyderabad', 'Salary': 140322}
{'_id': ObjectId('649cb596f3402573162a21ec'), 'name': 'Rahul', 'age': 24, 'City': 'Hyderabad', 'Salary': 147052}
{'_id': ObjectId('649cb596f3402573162a21ee'), 'name': 'Rahul', 'age': 52, 'City': 'Kolkata', 'Salary': 125194}
{'_id': ObjectId('649cb596f3402573162a21f0'), 'name': 'Sanjay', 'age': 50, 'City': 'Chennai', 'Salary': 125533}
{'_id': ObjectId('649cb596f3402573162a21f2'), 'name': 'Ananya', 'age': 26, 'City': 'Chennai', 'Salary': 124032}
{'_id': ObjectId('649cb596f3402573162a21f4'), 'name': 'Rohan', 'age': 39, 'City': 'Pune', 'Salary': 110375}
{'_id': ObjectId('649cb596f3402573162a21f5'), 'name': 'Ananya', 'age': 37, 'City': 'Ahmedabad', 'Salary': 100401}
{'_id': ObjectId('649cb596f3402573162a21f9'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649cb596f3402573162a21fb'), 'name': 'Sanjay', 'age': 30, 'City': 'Jaipur', 'Salary': 107965}
{'_id': ObjectId('649cb596f3402573162a2200'), 'name': 'Maya', 'age': 54, 'City': 'Kolkata', 'Salary': 104256}
{'_id': ObjectId('649cb596f3402573162a2201'), 'name': 'Riya', 'age': 29, 'City': 'Delhi', 'Salary': 131728}
{'_id': ObjectId('649cb596f3402573162a2202'), 'name': 'Neha', 'age': 55, 'City': 'Ahmedabad', 'Salary': 142652}
{'_id': ObjectId('649cb596f3402573162a2205'), 'name': 'Maya', 'age': 25, 'City': 'Ahmedabad', 'Salary': 144139}
{'_id': ObjectId('649cb596f3402573162a2206'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}
{'_id': ObjectId('649cb596f3402573162a2207'), 'name': 'Rohan', 'age': 58, 'City': 'Hyderabad', 'Salary': 132285}
{'_id': ObjectId('649cb596f3402573162a2209'), 'name': 'Isha', 'age': 54, 'City': 'Ahmedabad', 'Salary': 104616}
{'_id': ObjectId('649cb596f3402573162a220a'), 'name': 'Karthik', 'age': 33, 'City': 'Ahmedabad', 'Salary': 135337}
{'_id': ObjectId('649cb596f3402573162a220b'), 'name': 'Arjun', 'age': 34, 'City': 'Chennai', 'Salary': 147651}
{'_id': ObjectId('649cb596f3402573162a220e'), 'name': 'Avni', 'age': 36, 'City': 'Pune', 'Salary': 130127}
{'_id': ObjectId('649cb596f3402573162a220f'), 'name': 'Akash', 'age': 29, 'City': 'Kolkata', 'Salary': 119436}
{'_id': ObjectId('649cb596f3402573162a2210'), 'name': 'Maya', 'age': 49, 'City': 'Kolkata', 'Salary': 142006}

In [18]:
# High paid employees who are from Bangalore
high_paid_bangalore_emps = coll.find({'Salary' : {'$gte' : 100000}, 'City' : 'Bangalore'})
for emp in high_paid_bangalore_emps:
    print(emp)

{'_id': ObjectId('649cb596f3402573162a21f9'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649cb596f3402573162a2206'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}

#### Q5. <span style="color:magenta">Explain the sort() method. Give an example to demonstrate sorting in MongoDB.</span>

The `sort()` method in MongoDB is used to sort the results of a query in ascending or descending order based on one or more fields. It allows you to specify the sorting criteria to organize the retrieved documents in a specific order.

The syntax for the sort() method in MongoDB is as follows:

```python
db.collection.find().sort([(field1, 1), (field2, -1),... ])
```

The sorting criteria are defined using an object where the keys represent the fields to sort, and the values indicate the sorting order. The value 1 represents ascending order, while -1 represents descending order.

In [29]:
# Example - Sorting the result of Bangalore employees in the descending order of their age

bangalore_emps = coll.find({'City' : 'Bangalore'}).sort([('age', -1)])

for emp in bangalore_emps:
    print(emp)

{'_id': ObjectId('649cb596f3402573162a21ed'), 'name': 'Tanvi', 'age': 58, 'City': 'Bangalore', 'Salary': 23275}
{'_id': ObjectId('649cb596f3402573162a21f9'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649cb596f3402573162a2206'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}
{'_id': ObjectId('649cb596f3402573162a21f3'), 'name': 'Aarav', 'age': 39, 'City': 'Bangalore', 'Salary': 60202}

#### Q6. <span style="color:magenta">Explain why delete_one(), delete_many(), and drop() is used.</span>

The methods `delete_one()`, `delete_many()`, and `drop()` are used for different purposes related to removing data from a MongoDB collection. Here's an explanation of each method:

1. `delete_one(filter)`: This method is used to delete a single document from a collection that matches the specified filter. If multiple documents match the filter, only the first matching document will be deleted. If no document matches the filter, no action will be taken.

2. `delete_many(filter)`: This method is similar to delete_one(), but it removes all documents that satisfy the filter criteria.

3. `drop()`: This method is used to drop an entire collection from the database, effectively removing all documents and associated indexes. It deletes the collection entirely, and the collection will need to be re-created if it is to be used again.

In [32]:
# Examples

# 1. delete_one()
result = coll.delete_one({ 'age': {'$gt' : 55}})
print(f'{result.deleted_count} rows deleted')  # Prints the number of deleted documents (0 or 1)

1 rows deleted

In [33]:
# delete_many()
result = coll.delete_many({ 'age': {'$gt' : 55}})
print(f'{result.deleted_count} rows deleted')  # Prints the number of deleted documents (0 or 1)

5 rows deleted

In [34]:
# Drop collections
coll.drop()

In [39]:
# Trying to read from the collection
records = coll.find()
print(records)
for rec in records:
    print(rec)

<pymongo.cursor.Cursor object at 0x7f47a8f2a430>