In [39]:
# Load the libraries

import pandas as pd

In [40]:
# Load the csv
content = pd.read_csv("Content.csv")
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [41]:
# Filtering only relavent columns
content = content[['Content ID','Type','Category']]
content.describe()

                                  Content ID   Type    Category
count                                   1000   1000        1000
unique                                  1000      4          41
top     97522e57-d9ab-4bd6-97bf-c24d952602d2  photo  technology
freq                                       1    261          71

In [42]:
# Unique values for type
content['Type'].unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [43]:
#Unique values for category
content.Category.unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [44]:
# Replace '"' from category label
content['Category'] = content.Category.str.replace('"', '')
content.describe()

                                  Content ID   Type    Category
count                                   1000   1000        1000
unique                                  1000      4          29
top     97522e57-d9ab-4bd6-97bf-c24d952602d2  photo  technology
freq                                       1    261          72

In [45]:
# Convert all category into lowecase
content['Category'] = content.Category.str.lower()
content.describe()

                                  Content ID   Type    Category
count                                   1000   1000        1000
unique                                  1000      4          16
top     97522e57-d9ab-4bd6-97bf-c24d952602d2  photo  technology
freq                                       1    261          73

In [46]:
# Save the cleaned data
content.to_csv('content_cleaned.csv', index=False)