In [16]:
pip install --upgrade pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp38-cp38-manylinux2014_x86_64.whl (687 kB)
     |████████████████████████████████| 687 kB 15.3 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: dnspython<3.0.0,>=1.16.0 in /config/.local/lib/python3.8/site-packages (from pymongo) (1.16.0)
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 3.6.0
    Uninstalling pymongo-3.6.0:
      Successfully uninstalled pymongo-3.6.0
Successfully installed pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://kkshetty:JWL3e4UC6GK4Swd@pwskills.sfce3qx.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
client

MongoClient(host=['ac-z4ykd2i-shard-00-00.sfce3qx.mongodb.net:27017', 'ac-z4ykd2i-shard-00-02.sfce3qx.mongodb.net:27017', 'ac-z4ykd2i-shard-00-01.sfce3qx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-a7wyaa-shard-0', tls=True)

In [2]:
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
# Creating a database
db = client["test_db"]

In [4]:
# Creating a collection under DB
coll = db["sample"]

In [5]:
# Adding a single record/document to the collection
my_data = {'name' : 'Karthik', 'age' : 30}

x = coll.insert_one(my_data)

In [6]:
# Inserting multiple records/documents to the Collection
my_documents  = [
    {
        "name": "Rahul",
        "age": 43,
        "City": "Kolkata",
        "Salary": 20052
    },
    {
        "name": "Gaurav",
        "age": 43,
        "City": "Mumbai",
        "Salary": 124935
    },
    {
        "name": "Gaurav",
        "age": 52,
        "City": "Chennai",
        "Salary": 19946
    },
    {
        "name": "Akash",
        "age": 21,
        "City": "Kolkata",
        "Salary": 99133
    },
    {
        "name": "Isha",
        "age": 58,
        "City": "Kolkata",
        "Salary": 30388
    },
    {
        "name": "Riya",
        "age": 57,
        "City": "Pune",
        "Salary": 145559
    },
    {
        "name": "Aisha",
        "age": 38,
        "City": "Hyderabad",
        "Salary": 15613
    },
    {
        "name": "Krishna",
        "age": 44,
        "City": "Delhi",
        "Salary": 92859
    },
    {
        "name": "Ananya",
        "age": 34,
        "City": "Hyderabad",
        "Salary": 140322
    },
    {
        "name": "Arjun",
        "age": 25,
        "City": "Ahmedabad",
        "Salary": 79694
    },
    {
        "name": "Dev",
        "age": 49,
        "City": "Pune",
        "Salary": 20428
    },
    {
        "name": "Avni",
        "age": 21,
        "City": "Kolkata",
        "Salary": 61297
    },
    {
        "name": "Esha",
        "age": 40,
        "City": "Pune",
        "Salary": 48927
    },
    {
        "name": "Rahul",
        "age": 24,
        "City": "Hyderabad",
        "Salary": 147052
    },
    {
        "name": "Tanvi",
        "age": 58,
        "City": "Bangalore",
        "Salary": 23275
    },
    {
        "name": "Rahul",
        "age": 52,
        "City": "Kolkata",
        "Salary": 125194
    },
    {
        "name": "Aisha",
        "age": 24,
        "City": "Delhi",
        "Salary": 46442
    },
    {
        "name": "Sanjay",
        "age": 50,
        "City": "Chennai",
        "Salary": 125533
    },
    {
        "name": "Rahul",
        "age": 39,
        "City": "Jaipur",
        "Salary": 20319
    },
    {
        "name": "Ananya",
        "age": 26,
        "City": "Chennai",
        "Salary": 124032
    },
    {
        "name": "Aarav",
        "age": 39,
        "City": "Bangalore",
        "Salary": 60202
    },
    {
        "name": "Rohan",
        "age": 39,
        "City": "Pune",
        "Salary": 110375
    },
    {
        "name": "Ananya",
        "age": 37,
        "City": "Ahmedabad",
        "Salary": 100401
    },
    {
        "name": "Gaurav",
        "age": 42,
        "City": "Chennai",
        "Salary": 19343
    },
    {
        "name": "Rohan",
        "age": 59,
        "City": "Chennai",
        "Salary": 73118
    },
    {
        "name": "Tanvi",
        "age": 49,
        "City": "Mumbai",
        "Salary": 23499
    },
    {
        "name": "Ananya",
        "age": 53,
        "City": "Bangalore",
        "Salary": 121985
    },
    {
        "name": "Tanvi",
        "age": 47,
        "City": "Ahmedabad",
        "Salary": 71048
    },
    {
        "name": "Sanjay",
        "age": 30,
        "City": "Jaipur",
        "Salary": 107965
    },
    {
        "name": "Esha",
        "age": 49,
        "City": "Hyderabad",
        "Salary": 70221
    },
    {
        "name": "Sahana",
        "age": 35,
        "City": "Delhi",
        "Salary": 70016
    },
    {
        "name": "Tanvi",
        "age": 37,
        "City": "Ahmedabad",
        "Salary": 63154
    },
    {
        "name": "Krishna",
        "age": 33,
        "City": "Hyderabad",
        "Salary": 66437
    },
    {
        "name": "Maya",
        "age": 54,
        "City": "Kolkata",
        "Salary": 104256
    },
    {
        "name": "Riya",
        "age": 29,
        "City": "Delhi",
        "Salary": 131728
    },
    {
        "name": "Neha",
        "age": 55,
        "City": "Ahmedabad",
        "Salary": 142652
    },
    {
        "name": "Aarav",
        "age": 27,
        "City": "Mumbai",
        "Salary": 34478
    },
    {
        "name": "Gaurav",
        "age": 60,
        "City": "Jaipur",
        "Salary": 77096
    },
    {
        "name": "Maya",
        "age": 25,
        "City": "Ahmedabad",
        "Salary": 144139
    },
    {
        "name": "Tanvi",
        "age": 41,
        "City": "Bangalore",
        "Salary": 106393
    },
    {
        "name": "Rohan",
        "age": 58,
        "City": "Hyderabad",
        "Salary": 132285
    },
    {
        "name": "Tanvi",
        "age": 43,
        "City": "Delhi",
        "Salary": 25732
    },
    {
        "name": "Isha",
        "age": 54,
        "City": "Ahmedabad",
        "Salary": 104616
    },
    {
        "name": "Karthik",
        "age": 33,
        "City": "Ahmedabad",
        "Salary": 135337
    },
    {
        "name": "Arjun",
        "age": 34,
        "City": "Chennai",
        "Salary": 147651
    },
    {
        "name": "Sanjay",
        "age": 53,
        "City": "Pune",
        "Salary": 34177
    },
    {
        "name": "Tanvi",
        "age": 30,
        "City": "Jaipur",
        "Salary": 91568
    },
    {
        "name": "Avni",
        "age": 36,
        "City": "Pune",
        "Salary": 130127
    },
    {
        "name": "Akash",
        "age": 29,
        "City": "Kolkata",
        "Salary": 119436
    },
    {
        "name": "Maya",
        "age": 49,
        "City": "Kolkata",
        "Salary": 142006
    }
]

In [7]:
# Inserting multiple documents at once

coll.insert_many(my_documents)

In [9]:
# Reading the record on python

documents = coll.find() # This gives all the records inside the collection
for doc in documents:
    print(doc)

{'_id': ObjectId('649b8a8762e666a2926f775c'), 'name': 'Karthik', 'age': 30}
{'_id': ObjectId('649b8c5862e666a2926f775d'), 'name': 'Rahul', 'age': 43, 'City': 'Kolkata', 'Salary': 20052}
{'_id': ObjectId('649b8c5862e666a2926f775e'), 'name': 'Gaurav', 'age': 43, 'City': 'Mumbai', 'Salary': 124935}
{'_id': ObjectId('649b8c5862e666a2926f775f'), 'name': 'Gaurav', 'age': 52, 'City': 'Chennai', 'Salary': 19946}
{'_id': ObjectId('649b8c5862e666a2926f7760'), 'name': 'Akash', 'age': 21, 'City': 'Kolkata', 'Salary': 99133}
{'_id': ObjectId('649b8c5862e666a2926f7761'), 'name': 'Isha', 'age': 58, 'City': 'Kolkata', 'Salary': 30388}
{'_id': ObjectId('649b8c5862e666a2926f7762'), 'name': 'Riya', 'age': 57, 'City': 'Pune', 'Salary': 145559}
{'_id': ObjectId('649b8c5862e666a2926f7763'), 'name': 'Aisha', 'age': 38, 'City': 'Hyderabad', 'Salary': 15613}
{'_id': ObjectId('649b8c5862e666a2926f7764'), 'name': 'Krishna', 'age': 44, 'City': 'Delhi', 'Salary': 92859}
{'_id': ObjectId('649b8c5862e666a2926f7765'), 'name': 'Ananya', 'age': 34, 'City': 'Hyderabad', 'Salary': 140322}
{'_id': ObjectId('649b8c5862e666a2926f7766'), 'name': 'Arjun', 'age': 25, 'City': 'Ahmedabad', 'Salary': 79694}
{'_id': ObjectId('649b8c5862e666a2926f7767'), 'name': 'Dev', 'age': 49, 'City': 'Pune', 'Salary': 20428}
{'_id': ObjectId('649b8c5862e666a2926f7768'), 'name': 'Avni', 'age': 21, 'City': 'Kolkata', 'Salary': 61297}
{'_id': ObjectId('649b8c5862e666a2926f7769'), 'name': 'Esha', 'age': 40, 'City': 'Pune', 'Salary': 48927}
{'_id': ObjectId('649b8c5862e666a2926f776a'), 'name': 'Rahul', 'age': 24, 'City': 'Hyderabad', 'Salary': 147052}
{'_id': ObjectId('649b8c5862e666a2926f776b'), 'name': 'Tanvi', 'age': 58, 'City': 'Bangalore', 'Salary': 23275}
{'_id': ObjectId('649b8c5862e666a2926f776c'), 'name': 'Rahul', 'age': 52, 'City': 'Kolkata', 'Salary': 125194}
{'_id': ObjectId('649b8c5862e666a2926f776d'), 'name': 'Aisha', 'age': 24, 'City': 'Delhi', 'Salary': 46442}
{'_id': ObjectId('649b8c5862e666a2926f776e'), 'name': 'Sanjay', 'age': 50, 'City': 'Chennai', 'Salary': 125533}
{'_id': ObjectId('649b8c5862e666a2926f776f'), 'name': 'Rahul', 'age': 39, 'City': 'Jaipur', 'Salary': 20319}
{'_id': ObjectId('649b8c5862e666a2926f7770'), 'name': 'Ananya', 'age': 26, 'City': 'Chennai', 'Salary': 124032}
{'_id': ObjectId('649b8c5862e666a2926f7771'), 'name': 'Aarav', 'age': 39, 'City': 'Bangalore', 'Salary': 60202}
{'_id': ObjectId('649b8c5862e666a2926f7772'), 'name': 'Rohan', 'age': 39, 'City': 'Pune', 'Salary': 110375}
{'_id': ObjectId('649b8c5862e666a2926f7773'), 'name': 'Ananya', 'age': 37, 'City': 'Ahmedabad', 'Salary': 100401}
{'_id': ObjectId('649b8c5862e666a2926f7774'), 'name': 'Gaurav', 'age': 42, 'City': 'Chennai', 'Salary': 19343}
{'_id': ObjectId('649b8c5862e666a2926f7775'), 'name': 'Rohan', 'age': 59, 'City': 'Chennai', 'Salary': 73118}
{'_id': ObjectId('649b8c5862e666a2926f7776'), 'name': 'Tanvi', 'age': 49, 'City': 'Mumbai', 'Salary': 23499}
{'_id': ObjectId('649b8c5862e666a2926f7777'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649b8c5862e666a2926f7778'), 'name': 'Tanvi', 'age': 47, 'City': 'Ahmedabad', 'Salary': 71048}
{'_id': ObjectId('649b8c5862e666a2926f7779'), 'name': 'Sanjay', 'age': 30, 'City': 'Jaipur', 'Salary': 107965}
{'_id': ObjectId('649b8c5862e666a2926f777a'), 'name': 'Esha', 'age': 49, 'City': 'Hyderabad', 'Salary': 70221}
{'_id': ObjectId('649b8c5862e666a2926f777b'), 'name': 'Sahana', 'age': 35, 'City': 'Delhi', 'Salary': 70016}
{'_id': ObjectId('649b8c5862e666a2926f777c'), 'name': 'Tanvi', 'age': 37, 'City': 'Ahmedabad', 'Salary': 63154}
{'_id': ObjectId('649b8c5862e666a2926f777d'), 'name': 'Krishna', 'age': 33, 'City': 'Hyderabad', 'Salary': 66437}
{'_id': ObjectId('649b8c5862e666a2926f777e'), 'name': 'Maya', 'age': 54, 'City': 'Kolkata', 'Salary': 104256}
{'_id': ObjectId('649b8c5862e666a2926f777f'), 'name': 'Riya', 'age': 29, 'City': 'Delhi', 'Salary': 131728}
{'_id': ObjectId('649b8c5862e666a2926f7780'), 'name': 'Neha', 'age': 55, 'City': 'Ahmedabad', 'Salary': 142652}
{'_id': ObjectId('649b8c5862e666a2926f7781'), 'name': 'Aarav', 'age': 27, 'City': 'Mumbai', 'Salary': 34478}
{'_id': ObjectId('649b8c5862e666a2926f7782'), 'name': 'Gaurav', 'age': 60, 'City': 'Jaipur', 'Salary': 77096}
{'_id': ObjectId('649b8c5862e666a2926f7783'), 'name': 'Maya', 'age': 25, 'City': 'Ahmedabad', 'Salary': 144139}
{'_id': ObjectId('649b8c5862e666a2926f7784'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}
{'_id': ObjectId('649b8c5862e666a2926f7785'), 'name': 'Rohan', 'age': 58, 'City': 'Hyderabad', 'Salary': 132285}
{'_id': ObjectId('649b8c5862e666a2926f7786'), 'name': 'Tanvi', 'age': 43, 'City': 'Delhi', 'Salary': 25732}
{'_id': ObjectId('649b8c5862e666a2926f7787'), 'name': 'Isha', 'age': 54, 'City': 'Ahmedabad', 'Salary': 104616}
{'_id': ObjectId('649b8c5862e666a2926f7788'), 'name': 'Karthik', 'age': 33, 'City': 'Ahmedabad', 'Salary': 135337}
{'_id': ObjectId('649b8c5862e666a2926f7789'), 'name': 'Arjun', 'age': 34, 'City': 'Chennai', 'Salary': 147651}
{'_id': ObjectId('649b8c5862e666a2926f778a'), 'name': 'Sanjay', 'age': 53, 'City': 'Pune', 'Salary': 34177}
{'_id': ObjectId('649b8c5862e666a2926f778b'), 'name': 'Tanvi', 'age': 30, 'City': 'Jaipur', 'Salary': 91568}
{'_id': ObjectId('649b8c5862e666a2926f778c'), 'name': 'Avni', 'age': 36, 'City': 'Pune', 'Salary': 130127}
{'_id': ObjectId('649b8c5862e666a2926f778d'), 'name': 'Akash', 'age': 29, 'City': 'Kolkata', 'Salary': 119436}
{'_id': ObjectId('649b8c5862e666a2926f778e'), 'name': 'Maya', 'age': 49, 'City': 'Kolkata', 'Salary': 142006}

In [10]:
# Reading the records with condition

mumbai_employees = coll.find({'City' : 'Mumbai'})
for emp in mumbai_employees:
    print(emp)

{'_id': ObjectId('649b8c5862e666a2926f775e'), 'name': 'Gaurav', 'age': 43, 'City': 'Mumbai', 'Salary': 124935}
{'_id': ObjectId('649b8c5862e666a2926f7776'), 'name': 'Tanvi', 'age': 49, 'City': 'Mumbai', 'Salary': 23499}
{'_id': ObjectId('649b8c5862e666a2926f7781'), 'name': 'Aarav', 'age': 27, 'City': 'Mumbai', 'Salary': 34478}

In [11]:
# Employess with salary > RS 1,00,000

high_paid_employees = coll.find({'Salary' : {'$gte' : 100000}})
for emp in high_paid_employees:
    print(emp)

{'_id': ObjectId('649b8c5862e666a2926f775e'), 'name': 'Gaurav', 'age': 43, 'City': 'Mumbai', 'Salary': 124935}
{'_id': ObjectId('649b8c5862e666a2926f7762'), 'name': 'Riya', 'age': 57, 'City': 'Pune', 'Salary': 145559}
{'_id': ObjectId('649b8c5862e666a2926f7765'), 'name': 'Ananya', 'age': 34, 'City': 'Hyderabad', 'Salary': 140322}
{'_id': ObjectId('649b8c5862e666a2926f776a'), 'name': 'Rahul', 'age': 24, 'City': 'Hyderabad', 'Salary': 147052}
{'_id': ObjectId('649b8c5862e666a2926f776c'), 'name': 'Rahul', 'age': 52, 'City': 'Kolkata', 'Salary': 125194}
{'_id': ObjectId('649b8c5862e666a2926f776e'), 'name': 'Sanjay', 'age': 50, 'City': 'Chennai', 'Salary': 125533}
{'_id': ObjectId('649b8c5862e666a2926f7770'), 'name': 'Ananya', 'age': 26, 'City': 'Chennai', 'Salary': 124032}
{'_id': ObjectId('649b8c5862e666a2926f7772'), 'name': 'Rohan', 'age': 39, 'City': 'Pune', 'Salary': 110375}
{'_id': ObjectId('649b8c5862e666a2926f7773'), 'name': 'Ananya', 'age': 37, 'City': 'Ahmedabad', 'Salary': 100401}
{'_id': ObjectId('649b8c5862e666a2926f7777'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649b8c5862e666a2926f7779'), 'name': 'Sanjay', 'age': 30, 'City': 'Jaipur', 'Salary': 107965}
{'_id': ObjectId('649b8c5862e666a2926f777e'), 'name': 'Maya', 'age': 54, 'City': 'Kolkata', 'Salary': 104256}
{'_id': ObjectId('649b8c5862e666a2926f777f'), 'name': 'Riya', 'age': 29, 'City': 'Delhi', 'Salary': 131728}
{'_id': ObjectId('649b8c5862e666a2926f7780'), 'name': 'Neha', 'age': 55, 'City': 'Ahmedabad', 'Salary': 142652}
{'_id': ObjectId('649b8c5862e666a2926f7783'), 'name': 'Maya', 'age': 25, 'City': 'Ahmedabad', 'Salary': 144139}
{'_id': ObjectId('649b8c5862e666a2926f7784'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}
{'_id': ObjectId('649b8c5862e666a2926f7785'), 'name': 'Rohan', 'age': 58, 'City': 'Hyderabad', 'Salary': 132285}
{'_id': ObjectId('649b8c5862e666a2926f7787'), 'name': 'Isha', 'age': 54, 'City': 'Ahmedabad', 'Salary': 104616}
{'_id': ObjectId('649b8c5862e666a2926f7788'), 'name': 'Karthik', 'age': 33, 'City': 'Ahmedabad', 'Salary': 135337}
{'_id': ObjectId('649b8c5862e666a2926f7789'), 'name': 'Arjun', 'age': 34, 'City': 'Chennai', 'Salary': 147651}
{'_id': ObjectId('649b8c5862e666a2926f778c'), 'name': 'Avni', 'age': 36, 'City': 'Pune', 'Salary': 130127}
{'_id': ObjectId('649b8c5862e666a2926f778d'), 'name': 'Akash', 'age': 29, 'City': 'Kolkata', 'Salary': 119436}
{'_id': ObjectId('649b8c5862e666a2926f778e'), 'name': 'Maya', 'age': 49, 'City': 'Kolkata', 'Salary': 142006}

In [18]:
# High Paid employees from bangalore
high_paid_bangalore_emps = coll.find({'Salary' : {'$gte' : 100000}, 'City' : 'Bangalore'})
for emp in high_paid_bangalore_emps:
    print(emp)

{'_id': ObjectId('649b8c5862e666a2926f7777'), 'name': 'Ananya', 'age': 53, 'City': 'Bangalore', 'Salary': 121985}
{'_id': ObjectId('649b8c5862e666a2926f7784'), 'name': 'Tanvi', 'age': 41, 'City': 'Bangalore', 'Salary': 106393}

In [24]:
# Update the salary of all the employess above 50 years to RS 1,00,000 if it's less than that

less_paid_senior_emps = coll.find({'age' : {'$gte' : 50}, 'Salary' : {'$lt' : 100000}})
for emp in less_paid_senior_emps:
    print(emp)

In [23]:
coll.update_many({'age' : {'$gte' : 50}, 'Salary' : {'$lt' : 100000}}, {'$set' : {'Salary' : 100000}})