In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dumps/detailed_result_cleansed.csv")
df

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin
0,Belagavi,1,Nippani,Shashikala Jolle,BJP,73348.0,39.14,Uttam Raosaheb Patil,NCP,66056,35.25,7292
1,Belagavi,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,128349.0,69.82,Ramesh Katti,BJP,49840,27.11,78509
2,Belagavi,3,Athani,Laxman Savadi,INC,131404.0,68.34,Mahesh Kumathalli,BJP,55282,28.75,76122
3,Belagavi,4,Kagwad,Raju Kage,INC,83887.0,51.45,Shrimant Patil,BJP,74560,46.00,9327
4,Belagavi,5,Kudachi (SC),Mahendra Tammannavar,INC,85321.0,56.87,P. Rajeev,BJP,60078,40.04,25243
...,...,...,...,...,...,...,...,...,...,...,...,...
219,Mysore,220,T. Narasipur (SC),H. C. Mahadevappa,INC,77884.0,48.00,M. Ashvin Kumar,JD(S),59265,36.53,18619
220,Chamarajanagar,221,Hanur,M. R. Manjunath,JD(S),75632.0,41.93,R. Narendra,INC,57978,32.14,17654
221,Chamarajanagar,222,Kollegal (SC),A. R. Krishnamurthy,INC,108363.0,64.59,N. Mahesh,BJP,48844,29.11,38481
222,Chamarajanagar,223,Chamarajanagar,C. Puttarangashetty,INC,83858.0,48.46,V. Somanna,BJP,76325,44.10,7533
223,Chamarajanagar,224,Gundlupet,H. M. Ganesh Prasad,INC,107794.0,57.34,C. S. Niranjan Kumar,BJP,71119,37.83,36675

In [3]:
df.dtypes

District                object
Constituency No.         int64
Constituency Name       object
Winner Candidate        object
Winner Party            object
Winner Votes           float64
Winner %               float64
Runner Up Candidate     object
Runner Up Party         object
Runner Up Votes          int64
Runner Up %            float64
Margin                   int64
dtype: object

In [4]:
type(df.dtypes)

pandas.core.series.Series

In [5]:
df.describe()

,Constituency No.,Winner Votes,Winner %,Runner Up Votes,Runner Up %,Margin
count,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000
mean,112.500000,86177.926174,49.559464,65535.334821,37.547098,20979.535714
std,64.807407,21869.826428,7.517976,17701.285185,6.964289,17872.183975
min,1.000000,95.463000,29.400000,20631.000000,11.080000,16.000000
25%,56.750000,73311.000000,45.110000,54130.750000,32.312500,7842.500000
50%,112.500000,84412.500000,49.585000,64380.000000,38.415000,15968.500000
75%,168.250000,94654.000000,53.837500,74074.750000,43.607500,30774.500000
max,224.000000,196220.000000,74.580000,154031.000000,47.850000,122392.000000

In [6]:
df.dtypes

District                object
Constituency No.         int64
Constituency Name       object
Winner Candidate        object
Winner Party            object
Winner Votes           float64
Winner %               float64
Runner Up Candidate     object
Runner Up Party         object
Runner Up Votes          int64
Runner Up %            float64
Margin                   int64
dtype: object

In [7]:
df.dtypes == 'object'

District                True
Constituency No.       False
Constituency Name       True
Winner Candidate        True
Winner Party            True
Winner Votes           False
Winner %               False
Runner Up Candidate     True
Runner Up Party         True
Runner Up Votes        False
Runner Up %            False
Margin                 False
dtype: bool

In [8]:
df.dtypes[df.dtypes == 'object']

District               object
Constituency Name      object
Winner Candidate       object
Winner Party           object
Runner Up Candidate    object
Runner Up Party        object
dtype: object

In [9]:
df.dtypes[df.dtypes == 'object'].index

Index(['District', 'Constituency Name', 'Winner Candidate', 'Winner Party',
       'Runner Up Candidate', 'Runner Up Party'],
      dtype='object')

In [10]:
df[df.dtypes[df.dtypes == 'object'].index]

,District,Constituency Name,Winner Candidate,Winner Party,Runner Up Candidate,Runner Up Party
0,Belagavi,Nippani,Shashikala Jolle,BJP,Uttam Raosaheb Patil,NCP
1,Belagavi,Chikkodi-Sadalga,Ganesh Hukkeri,INC,Ramesh Katti,BJP
2,Belagavi,Athani,Laxman Savadi,INC,Mahesh Kumathalli,BJP
3,Belagavi,Kagwad,Raju Kage,INC,Shrimant Patil,BJP
4,Belagavi,Kudachi (SC),Mahendra Tammannavar,INC,P. Rajeev,BJP
...,...,...,...,...,...,...
219,Mysore,T. Narasipur (SC),H. C. Mahadevappa,INC,M. Ashvin Kumar,JD(S)
220,Chamarajanagar,Hanur,M. R. Manjunath,JD(S),R. Narendra,INC
221,Chamarajanagar,Kollegal (SC),A. R. Krishnamurthy,INC,N. Mahesh,BJP
222,Chamarajanagar,Chamarajanagar,C. Puttarangashetty,INC,V. Somanna,BJP
223,Chamarajanagar,Gundlupet,H. M. Ganesh Prasad,INC,C. S. Niranjan Kumar,BJP

In [11]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

,District,Constituency Name,Winner Candidate,Winner Party,Runner Up Candidate,Runner Up Party
count,224,224,224,224,224,224
unique,31,224,223,6,223,7
top,Bangalore Urban,Nippani,M. Krishnappa,INC,V. Somanna,BJP
freq,28,1,2,135,2,111

In [12]:
df[df['District'] == 'Udupi']

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin
117,Udupi,118,Byndoor,Gururaj Gantihole,BJP,98628.0,53.12,K Gopala Poojary,INC,82475,44.42,16153
118,Udupi,119,Kundapura,Kiran Kumar Kodgi,BJP,102424.0,61.16,Dinesh Hegde Molahalli,INC,60868,36.35,41556
119,Udupi,120,Udupi,Yashpal A. Suvarna,BJP,97079.0,58.46,Prasadraj Kanchan,INC,64303,38.72,32776
120,Udupi,121,Kapu,Gurme Suresh Shetty,BJP,80559.0,53.23,Vinay Kumar Sorake,INC,67555,44.63,13004
121,Udupi,122,Karkala,V. Sunil Kumar,BJP,77028.0,49.11,Udaya Shetty Muniyal,INC,72426,46.18,4602

In [13]:
df['Total Votes Polled'] = 0

In [14]:
df.head()

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled
0,Belagavi,1,Nippani,Shashikala Jolle,BJP,73348.0,39.14,Uttam Raosaheb Patil,NCP,66056,35.25,7292,0
1,Belagavi,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,128349.0,69.82,Ramesh Katti,BJP,49840,27.11,78509,0
2,Belagavi,3,Athani,Laxman Savadi,INC,131404.0,68.34,Mahesh Kumathalli,BJP,55282,28.75,76122,0
3,Belagavi,4,Kagwad,Raju Kage,INC,83887.0,51.45,Shrimant Patil,BJP,74560,46.00,9327,0
4,Belagavi,5,Kudachi (SC),Mahendra Tammannavar,INC,85321.0,56.87,P. Rajeev,BJP,60078,40.04,25243,0

In [15]:
df['Winner Votes']

0       73348.0
1      128349.0
2      131404.0
3       83887.0
4       85321.0
         ...
219     77884.0
220     75632.0
221    108363.0
222     83858.0
223    107794.0
Name: Winner Votes, Length: 224, dtype: float64

In [16]:
df['Winner %']

0      39.14
1      69.82
2      68.34
3      51.45
4      56.87
       ...
219    48.00
220    41.93
221    64.59
222    48.46
223    57.34
Name: Winner %, Length: 224, dtype: float64

In [17]:
round((df['Winner Votes'] * 100) / (df['Winner %']))

0      187399.0
1      183828.0
2      192280.0
3      163046.0
4      150028.0
         ...
219    162258.0
220    180377.0
221    167771.0
222    173046.0
223    187991.0
Length: 224, dtype: float64

In [18]:
df['Total Votes Polled'] = round((df['Winner Votes'] * 100) / (df['Winner %']))

In [19]:
df.head()

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled
0,Belagavi,1,Nippani,Shashikala Jolle,BJP,73348.0,39.14,Uttam Raosaheb Patil,NCP,66056,35.25,7292,187399.0
1,Belagavi,2,Chikkodi-Sadalga,Ganesh Hukkeri,INC,128349.0,69.82,Ramesh Katti,BJP,49840,27.11,78509,183828.0
2,Belagavi,3,Athani,Laxman Savadi,INC,131404.0,68.34,Mahesh Kumathalli,BJP,55282,28.75,76122,192280.0
3,Belagavi,4,Kagwad,Raju Kage,INC,83887.0,51.45,Shrimant Patil,BJP,74560,46.00,9327,163046.0
4,Belagavi,5,Kudachi (SC),Mahendra Tammannavar,INC,85321.0,56.87,P. Rajeev,BJP,60078,40.04,25243,150028.0

In [20]:
min(df['Winner Votes'])

95.463

In [21]:
df['Winner Votes'] == min(df['Winner Votes'])

0      False
1      False
2      False
3      False
4      False
       ...
219    False
220    False
221    False
222    False
223    False
Name: Winner Votes, Length: 224, dtype: bool

In [22]:
df[df['Winner Votes'] == min(df['Winner Votes'])]

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled
143,Kolar,144,Srinivaspur,G. K. Venkatashivareddy,JD(S),95.463,49.99,K. R. Ramesh Kumar,INC,85020,44.52,10443,191.0

In [23]:
df['Winner Votes'][143]

95.463

In [24]:
float(str(df['Winner Votes'][143]).replace(".", ""))/10

9546.3

In [25]:
df['Winner Votes'][143] = float(str(df['Winner Votes'][143]).replace(".", ""))/10

/tmp/ipykernel_917/4246630545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Winner Votes'][143] = float(str(df['Winner Votes'][143]).replace(".", ""))/10

In [26]:
df['Winner Votes'][143]

9546.3

In [27]:
min(df['Winner Votes'])

9546.3

In [28]:
df.describe()

,Constituency No.,Winner Votes,Winner %,Runner Up Votes,Runner Up %,Margin,Total Votes Polled
count,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000
mean,112.500000,86220.117411,49.559464,65535.334821,37.547098,20979.535714,173691.236607
std,64.807407,21711.555127,7.517976,17701.285185,6.964289,17872.183975,33164.168132
min,1.000000,9546.300000,29.400000,20631.000000,11.080000,16.000000,191.000000
25%,56.750000,73311.000000,45.110000,54130.750000,32.312500,7842.500000,159406.250000
50%,112.500000,84412.500000,49.585000,64380.000000,38.415000,15968.500000,170302.500000
75%,168.250000,94654.000000,53.837500,74074.750000,43.607500,30774.500000,182701.750000
max,224.000000,196220.000000,74.580000,154031.000000,47.850000,122392.000000,357912.000000

In [29]:
df['Winner Party'] == 'BJP'

0       True
1      False
2      False
3      False
4      False
       ...
219    False
220    False
221    False
222    False
223    False
Name: Winner Party, Length: 224, dtype: bool

In [30]:
df['Margin'] < 1000

0      False
1      False
2      False
3      False
4      False
       ...
219    False
220    False
221    False
222    False
223    False
Name: Margin, Length: 224, dtype: bool

In [31]:
df[(df['Winner Party'] == 'BJP') & (df['Margin'] < 1000)]

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled
41,Kalaburagi,42,Chincholi (SC),Avinash Jadhav,BJP,69963.0,46.66,Subash V. Rathod,INC,69105,46.09,858,149942.0
77,Uttara Kannada,78,Kumta,Dinakar Keshav Shetty,BJP,59965.0,40.37,Suraj Naik Soni,JD(S),59289,39.92,676,148539.0
172,Bangalore Urban,173,Jayanagar,C. K. Ramamurthy,BJP,57797.0,47.87,Sowmya Reddy,INC,57781,47.85,16,120737.0

In [32]:
df[(df['Runner Up Party'] == 'BJP') & (df['Margin'] < 1000)]

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled
102,Davanagere,103,Jagalur (ST),B. Devendrappa,INC,50765.0,32.44,S. V. Ramachandra,BJP,49891,31.88,874,156489.0
122,Chikmagalur,123,Sringeri,T. D. Rajegowda,INC,59171.0,41.79,D. N. Jeevaraj,BJP,58970,41.65,201,141591.0
123,Chikmagalur,124,Mudigere (SC),Nayana Motamma,INC,50843.0,38.00,Deepak Doddaiah,BJP,50121,37.46,722,133797.0
148,Kolar,149,Malur,K. Y. Nanjegowda,INC,50955.0,29.40,K. S. Manjunathagowda,BJP,50707,29.26,248,173316.0
163,Bangalore Urban,164,Gandhi Nagar,Dinesh Gundu Rao,INC,54118.0,40.81,A.R. Sapthagiri Gowda,BJP,54013,40.73,105,132610.0

In [33]:
df['Margin %'] = (df['Margin']/df['Total Votes Polled']) * 100

In [34]:
df[(df['Winner Party'] == 'BJP') & (df['Margin %'] < 1.0)]

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled,Margin %
41,Kalaburagi,42,Chincholi (SC),Avinash Jadhav,BJP,69963.0,46.66,Subash V. Rathod,INC,69105,46.09,858,149942.0,0.572221
47,Bidar,48,Humnabad,Siddu Patil,BJP,75515.0,42.23,Rajashekar Patil,INC,73921,41.34,1594,178818.0,0.891409
48,Bidar,49,Bidar South,Shailendra Bedale,BJP,49872.0,32.51,Ashok Kheny,INC,48609,31.69,1263,153405.0,0.823311
77,Uttara Kannada,78,Kumta,Dinakar Keshav Shetty,BJP,59965.0,40.37,Suraj Naik Soni,JD(S),59289,39.92,676,148539.0,0.455099
87,Vijayanagara,88,Hadagalli (SC),Krishna Nayaka,BJP,73200.0,48.81,P. T. Parameshwar Naik,INC,71756,47.85,1444,149969.0,0.962866
172,Bangalore Urban,173,Jayanagar,C. K. Ramamurthy,BJP,57797.0,47.87,Sowmya Reddy,INC,57781,47.85,16,120737.0,0.013252

In [35]:
df[(df['Runner Up Party'] == 'BJP') & (df['Margin %'] < 1.0)]

,District,Constituency No.,Constituency Name,Winner Candidate,Winner Party,Winner Votes,Winner %,Runner Up Candidate,Runner Up Party,Runner Up Votes,Runner Up %,Margin,Total Votes Polled,Margin %
102,Davanagere,103,Jagalur (ST),B. Devendrappa,INC,50765.0,32.44,S. V. Ramachandra,BJP,49891,31.88,874,156489.0,0.558506
122,Chikmagalur,123,Sringeri,T. D. Rajegowda,INC,59171.0,41.79,D. N. Jeevaraj,BJP,58970,41.65,201,141591.0,0.141958
123,Chikmagalur,124,Mudigere (SC),Nayana Motamma,INC,50843.0,38.00,Deepak Doddaiah,BJP,50121,37.46,722,133797.0,0.539623
148,Kolar,149,Malur,K. Y. Nanjegowda,INC,50955.0,29.40,K. S. Manjunathagowda,BJP,50707,29.26,248,173316.0,0.143091
163,Bangalore Urban,164,Gandhi Nagar,Dinesh Gundu Rao,INC,54118.0,40.81,A.R. Sapthagiri Gowda,BJP,54013,40.73,105,132610.0,0.079180

In [36]:
df.loc[0:10, ['District', 'Winner Party']]

    District Winner Party
0   Belagavi          BJP
1   Belagavi          INC
2   Belagavi          INC
3   Belagavi          INC
4   Belagavi          INC
5   Belagavi          BJP
6   Belagavi          BJP
7   Belagavi          BJP
8   Belagavi          BJP
9   Belagavi          INC
10  Belagavi          INC

In [37]:
df.iloc[0:10, [1,4,7]]

   Constituency No. Winner Party   Runner Up Candidate
0                 1          BJP  Uttam Raosaheb Patil
1                 2          INC          Ramesh Katti
2                 3          INC     Mahesh Kumathalli
3                 4          INC        Shrimant Patil
4                 5          INC             P. Rajeev
5                 6          BJP    Shambhu Kallolikar
6                 7          BJP           A. B. Patil
7                 8          BJP        Bhimappa Gadad
8                 9          BJP      Mahantesh Kadadi
9                10          INC      Basavaraj Hundri

In [39]:
data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)

print(df)

df_reindexed = df.reindex([2, 1, 0])

 

print(df_reindexed)

   name  age
0  John   25
1  Jane   30
2   Bob   35
   name  age
2   Bob   35
1  Jane   30
0  John   25

In [48]:
data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 38, 35]}

df = pd.DataFrame(data)

 

for x in df.iterrows():
    # print(type(x))
    print(x)
    # print(index)
    # print(row)
    # print(row['name'], row['age'])

for x in df.itertuples():
    # print(type(x))
    print(x)

(0, name    John
age       25
Name: 0, dtype: object)
(1, name    Jane
age       30
Name: 1, dtype: object)
(2, name    Bob
age      35
Name: 2, dtype: object)
Pandas(Index=0, name='John', age=25)
Pandas(Index=1, name='Jane', age=30)
Pandas(Index=2, name='Bob', age=35)

In [53]:
data = {'name': ['John', 'Jane', 'Bob', 'Rob', 'Jim'], 'age': [25, 38, 35, 24, 30]}

df = pd.DataFrame(data)
df.sort_values('age') # This will return a new df but won't change the existing DF
df

   name  age
0  John   25
1  Jane   38
2   Bob   35
3   Rob   24
4   Jim   30

In [56]:
type(df.loc[1:2, 'name'])

pandas.core.series.Series