In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dumps/campaign.csv")
df # by default first row is considered as header

,id,campaign_name,start_date,end_date,impressions,clicks,conversion_rate,revenue
0,1,Summer Sale,2023-06-01,2023-06-30,12000,500,0.042,2000.50
1,2,Back to School,2023-07-15,2023-08-31,8000,400,0.055,2300.25
2,3,Holiday Special,2023-12-01,2023-12-31,15000,750,0.051,3000.75
3,4,New Year Campaign,2024-01-01,2024-01-31,9500,550,0.049,2800.00
4,5,Valentine's Day,2024-02-01,2024-02-14,11000,450,0.036,1500.75
5,6,Easter Promotions,2024-03-01,2024-03-31,10500,350,0.032,1200.00
6,7,Spring Clearance,2024-04-01,2024-04-30,9000,300,0.025,800.50
7,8,Summer Launch,2024-06-01,2024-06-30,8500,250,0.028,900.25
8,9,Black Friday,2024-11-01,2024-11-30,12000,450,0.039,1800.75
9,10,Cyber Monday,2024-11-29,2024-11-29,8000,400,0.045,2000.00

In [3]:
# To override header
df2 = pd.read_csv("dumps/campaign.csv", header=None)
df2

,0,1,2,3,4,5,6,7
0,id,campaign_name,start_date,end_date,impressions,clicks,conversion_rate,revenue
1,1,Summer Sale,2023-06-01,2023-06-30,12000,500,0.042,2000.50
2,2,Back to School,2023-07-15,2023-08-31,8000,400,0.055,2300.25
3,3,Holiday Special,2023-12-01,2023-12-31,15000,750,0.051,3000.75
4,4,New Year Campaign,2024-01-01,2024-01-31,9500,550,0.049,2800.00
5,5,Valentine's Day,2024-02-01,2024-02-14,11000,450,0.036,1500.75
6,6,Easter Promotions,2024-03-01,2024-03-31,10500,350,0.032,1200.00
7,7,Spring Clearance,2024-04-01,2024-04-30,9000,300,0.025,800.50
8,8,Summer Launch,2024-06-01,2024-06-30,8500,250,0.028,900.25
9,9,Black Friday,2024-11-01,2024-11-30,12000,450,0.039,1800.75
10,10,Cyber Monday,2024-11-29,2024-11-29,8000,400,0.045,2000.00

In [10]:
# listing all the columns
df.columns

Index(['id', 'campaign_name', 'start_date', 'end_date', 'impressions',
       'clicks', 'conversion_rate', 'revenue'],
      dtype='object')

In [4]:
df.loc[0]

id                           1
campaign_name      Summer Sale
start_date          2023-06-01
end_date            2023-06-30
impressions              12000
clicks                     500
conversion_rate          0.042
revenue                 2000.5
Name: 0, dtype: object

In [11]:
# Converting it to list
columns = list(df.columns)
columns

['id',
 'campaign_name',
 'start_date',
 'end_date',
 'impressions',
 'clicks',
 'conversion_rate',
 'revenue']

In [16]:
# Extracting a single column from df
df['campaign_name'] # This will be of type Series

0          Summer Sale
1       Back to School
2      Holiday Special
3    New Year Campaign
4      Valentine's Day
5    Easter Promotions
6     Spring Clearance
7        Summer Launch
8         Black Friday
9         Cyber Monday
Name: campaign_name, dtype: object

In [18]:
df[['campaign_name']] # This will be of type Dataframe

       campaign_name
0        Summer Sale
1     Back to School
2    Holiday Special
3  New Year Campaign
4    Valentine's Day
5  Easter Promotions
6   Spring Clearance
7      Summer Launch
8       Black Friday
9       Cyber Monday

In [20]:
# Extracting a multiple columns from df - pass the column names as list
df[['campaign_name', 'start_date', 'end_date', 'impressions']]

       campaign_name  start_date    end_date  impressions
0        Summer Sale  2023-06-01  2023-06-30        12000
1     Back to School  2023-07-15  2023-08-31         8000
2    Holiday Special  2023-12-01  2023-12-31        15000
3  New Year Campaign  2024-01-01  2024-01-31         9500
4    Valentine's Day  2024-02-01  2024-02-14        11000
5  Easter Promotions  2024-03-01  2024-03-31        10500
6   Spring Clearance  2024-04-01  2024-04-30         9000
7      Summer Launch  2024-06-01  2024-06-30         8500
8       Black Friday  2024-11-01  2024-11-30        12000
9       Cyber Monday  2024-11-29  2024-11-29         8000

In [21]:
# Writing the file

df[['campaign_name', 'start_date', 'end_date', 'impressions']].to_csv("dumps/campaign_summary.csv")

### Loading Data from Web

In [22]:
# Pandas can load tables from web by passing the URL as arguments. The return type will be of list of dataframes.

In [23]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.3-cp310-cp310-manylinux_2_28_x86_64.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 65.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.3
Note: you may need to restart the kernel to use updated packages.

In [24]:
import lxml

In [25]:
karnataka_election_2023 = pd.read_html("https://en.wikipedia.org/wiki/2023_Karnataka_Legislative_Assembly_election")

In [26]:
len(karnataka_election_2023)

24

In [31]:
result_by_district = karnataka_election_2023[18]
detailed_result = karnataka_election_2023[19]

In [34]:
detailed_result.columns

MultiIndex([(    'District',  'District',              'Margin'),
            ('Constituency',       'No.',  'Unnamed: 1_level_2'),
            ('Constituency',      'Name',  'Unnamed: 2_level_2'),
            (      'Winner', 'Candidate',  'Unnamed: 3_level_2'),
            (      'Winner',     'Party',  'Unnamed: 4_level_2'),
            (      'Winner',     'Party',  'Unnamed: 5_level_2'),
            (      'Winner',     'Votes',  'Unnamed: 6_level_2'),
            (      'Winner',         '%',  'Unnamed: 7_level_2'),
            (   'Runner Up', 'Candidate',  'Unnamed: 8_level_2'),
            (   'Runner Up',     'Party',  'Unnamed: 9_level_2'),
            (   'Runner Up',     'Party', 'Unnamed: 10_level_2'),
            (   'Runner Up',     'Votes', 'Unnamed: 11_level_2'),
            (   'Runner Up',         '%', 'Unnamed: 12_level_2'),
            (      'Margin',    'Margin', 'Unnamed: 13_level_2')],
           )

In [35]:
result_by_district.to_csv("dumps/result_by_district.csv")

In [37]:
detailed_result.to_csv("dumps/detailed_result.csv")